@tailwind base;
@tailwind components;
@tailwind utilities;

/* スマホの夜モード設定を無視して、常にライトモードにする設定 */
:root {
  color-scheme: light;
}

html, body {
  background-color: #F4F4F4 !important; /* !important で強制 */
  color: #171717 !important;             /* 文字色も黒で強制 */
}